header {
    margin-bottom: 30px !important;
}
.toolmux-logo {
    width: 80px;
}

.form-cadastro input,
.form-cadastro select,
.form-edita input,
.form-edita select {
  margin-bottom: 10px !important;
}