{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between">
    <h2>{{ title }}</h2>
    <a class="btn btn-primary" href="{{ url_for('listar') }}" role="button">Listar</a>
</div>

<form action="" method="POST" class="form-edita">
    {{ form.hidden_tag() }}
    {{ form.name.label }}<br>
    {{ form.name(class="form-control", placeholder="Nmap") }}
    
    {{ form.author.label }}<br>
    {{ form.author(class="form-control", placeholder="Gordon Lyon") }}

    {{ form.alias.label }}<br>
    {{ form.alias(class="form-control", placeholder="Opcional") }}

    {{ form.custom_alias.label }}<br>
    {{ form.custom_alias(class="form-control", placeholder="Opcional") }}

    {{ form.name_repository.label }}<br>
    {{ form.name_repository(class="form-control", placeholder="Opcional") }}
        
    {{ form.link.label }}<br>
    {{ form.link(class="form-control", placeholder="Opcional") }}
        
    {{ form.type_install.label }}<br>
    {{ form.type_install(class="form-select") }}
        
    {{ form.category.label }}<br>
    {{ form.category(class="form-select") }}

    {{ form.dependencies.label }}<br>
    {{ form.dependencies(class="form-control", placeholder="Opcional") }}<br>

    {{ form.submit(class="btn btn-warning") }}
</form>
{% endblock %}
