<header>
<nav class="navbar bg-dark navbar-expand-md border-bottom border-body" data-bs-theme="dark">
  <div class="container"> 
    <a class="navbar-brand" 
	href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/toolmux-logo/png/logo-black.png') }}" class="toolmux-logo">
    </a>
    <button class="navbar-toggler" 
	    type="button" 
	    data-bs-toggle="collapse" 
	    data-bs-target="#navbarSupportedContent" 
	    aria-controls="navbarSupportedContent" 
	    aria-expanded="false" 
	    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" 
	 id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
	  <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home
	  </a>
        </li>

	<li class="nav-item">
	  <a class="nav-link" aria-current="page" href="{{ url_for('listar') }}">Listar
	  </a>
	</li>

	<li class="nav-item">
	  <a class="nav-link" aria-current="page" href="{{ url_for('profile') }}">Perfil
	  </a>
	</li>

	<li class="nav-item">
	  <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Sair</a>
	</li>
      </ul>
    </div>
  </div>
</nav>
</header>
