<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Toolmux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/toolmux-logo/svg/logo-black.svg') }}" rel="icon" type="image/x-icon">
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
	<form action="" method="post">
	    {{ form.hidden_tag() }}
	    <img class="mb-4" src="{{ url_for('static', filename='images/toolmux-logo/svg/logo-no-background.svg') }}" alt="" width="72" height="57">
	    <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>

	    <div class="form-floating">
		{{ form.username(class="form-control", placeholder="Username") }}

		{% for error in form.username.errors %}
		<p style="padding-left:5px;color:red;">
		    {{ error }}
		</p>
		{% endfor %}

		{{ form.username.label }}
	    </div><br>

    	    <div class="form-floating">
		{{ form.email(class="form-control", placeholder="Email") }}
		{% for error in form.email.errors %}
		<p style="padding-left:5px;color:red;">
		    {{ error }}
		</p>
		{% endfor %}
		{{ form.email.label }}
	    </div><br>

    	    <div class="form-floating">
		{{ form.password(class="form-control", placeholder="Password") }}
		{% for error in form.password.errors %}
		<p style="padding-left:5px;color:red;">
		    {{ error }}    
		</p>
		{% endfor %}
		{{ form.password.label }}
	    </div><br>

    	    <div class="form-floating">
		{{ form.password2(class="form-control", placeholder="Repeat Password") }}
		{% for error in form.password.errors %}
		<p style="padding-left:5px;color:red;">
		    {{ error }}
		</p>
		{% endfor %}
		{{ form.password2.label }}
	    </div><br>

    	    {{ form.submit(class="btn btn-primary py-2") }}
	</form>
	<br>
	<p>Ja tem conta? acesse por <a href="{{ url_for('login') }}">aqui</a></p>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
